@import "template-theme.css";

/* modification globales, applicable à la template */
@font-face {
    font-family: "Chewy";
    src: url("../fonts/Chewy-Regular.ttf");
}
@font-face {
    font-family: "Itim";
    src: url("../fonts/Itim-Regular.ttf");
}

* {
    -fx-text-fill: #000;

    -fx-font-family: Itim;

    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;

    -background-image-color: #b7e3ff;


    -container-background-color: #d0f3ff;
    -global-background-color: #ffffff;
    -accent-background-color: #e7f9ff;
    -accent-border-color: #2196f3;
    -global-border-color: transparent;
    -global-disabled-background-color: #f0f0f0;
    -global-disabled-border-color: grey;
    -text-field-color: #e7f9ff;
    -a-color: lightblue;
    -a-bold-color: #1976d2;
    -highlight-color: #2196f3;
    -accepted-color: #ffffff;
    -highlight-hover-color: #1976d2;
    -highlight-text-color: white;
    -game-grid-pane-text-color: white;
    -game-grid-pane-border-hover-color: #2196f3;
    -game-grid-pane-selected-color: #f5f5f5;
    -game-grid-pane-selected-text-color: #424242;
    -game-grid-pane-border-color: #e0e0e0;
    -game-grid-pane-highlight-text-color: #424242;
    -status-accepted-color: green;
    -status-refused-color: red;
    -status-pending-color: orange;
    -placeholder-stroke-color: gray;
    -hand-background-color: #f4f4f4;

    -selected-button-background-color: #d0f3ff;
    -selected-button-border-color: #00a4df;

    -accent-button-background-color: #1976d2;
    -accent-button-border-color: transparent;
    -accent-button-text-color: #eefbff;

    -token-background-color: #fff;
    -token-border-color: #000;

    -global-shadow: dropshadow(gaussian, white, 2, 1, 0, 0);

    /* players colors */
    -color1: #9b2427;
    -color2: #efef3f;
    -color3: #5ff3c8;
    -color4: #8ce95b;
    -color5: #d7deed;
    -color6: #d27b7a;
    -color7: #d15fb4;
    -color8: #51945a;
    -color9: #d58134;
    -color10: #fafac4;
}

/* modifications ne pouvant passer par la template */
/*.mirror {*/
/*    -fx-background-color: rgba(0, 0, 0, 0.5); !* Noir avec 50% de transparence *!*/
/*    -fx-background-blend-mode: overlay; !* Mélange l'image et la couleur *!*/
/*    -fx-background-image: url("../images/sea.png");*/
/*}*/

.root {
    -fx-background-image: url("../images/sea.jpg");

}